// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
  display: flex;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 56px;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

.banner p {
  font-size: 32px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 24px;
}

.btn-fb {
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  background: #4267B1;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-top: 88px;
}

.btn-fb:hover {
  opacity: 1;
  color:white;
  background: #2069D9;
}

.btn-success {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
  margin-top: 10px;
  width: 420px;
  font-size: 36px;
  font-weight: bold;
}

.btn-success:hover {
	background: #1BCB7F;
 	opacity: 1;
  }


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 240px;
}


