// Specific CSS for your home-page

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
}

.banner h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.banner p {
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
  margin-bottom: 10px;
}

.btn-fb {
  color: white;
  padding: 8px 16px;
  border-radius: 16px;
  background: #4267B1;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-top: 92px;
  width: 160px;
  text-align: center;
}

.btn-fb:hover {
  opacity: 1;
  color:white;
  background: #2069D9;
}

.btn-login {
  padding: 8px 16px;
  border-radius: 16px;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  margin-bottom: 120px;
  width: 160px;
  text-align: center;
}

.container-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  padding: 24px;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}


