.container-fluid-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-background {
 height: 300px;
 background-size: cover;
 width: 100%;
}

.container-description {
  width: 100%;
}

.container-user-profile {
   overflow: auto;
}

.row-content {
  width: 100%;
}

.list-group {
	width: 100%;
	text-align: center;
	color: #333333;
}

.list-group i {
	opacity: 0.5;
}

#user-address {
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0px 20px 0px 20px;
  padding: 8px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.1);
}

#user-address a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

#user-address .fa-edit {
  font-size: 16px;
  padding-left: 6px;
  opacity: 0.8;
}

.btn-conv {
	padding: 8px 16px;
  border-radius: 16px;
  transition: background 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  border: none;
  width: 300px;
  text-align: center;
  background-color: #1EDD88;
  display: block;
  color: white;
}

#title-resto {
	font-size: 24px;
	font-weight: bold;
}
