.container-fluid-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-group {
	width: 100%;
	text-align: left;
	color: #333333;
  .hourglass,
  a,
  #title-resto,
  #level-missing,
  i {
    color: $darkblue;
  }
  .hourglass {
    font-weight: bold;
  }
}



.img-background {
 height: 240px;
 background-size: cover;
 width: 100%;
}

.container-description {
  width: 100%;
}

.container-user-profile {
   overflow: auto;
   margin-bottom: 10px;
}

.row-content {
  width: 100%;
}


#user-address {
  font-size: 15px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  padding: 2px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.1);
}

#user-address a {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

#user-address .fa-edit {
  font-size: 16px;
  padding-left: 6px;
  opacity: 0.8;
}


#title-resto {
	font-size: 24px;
	font-weight: bold;
  display: flex;
  justify-content: space-between;
  & a {
    margin-right: 16px;
    font-size: 24px;
  }
}

.fa-check-circle {
  opacity: 0.6;
}

p.hours {
  margin-bottom: 2px;
  font-size: 15px;
}

.fa-chevron-left {
  color: white;
    font-size: 30px;
    margin-left: 16px;
    margin-top: 16px;
    position: absolute;
}
