<div class="infowindow ">

  <div style="text-align: center"> <%= "#{participant.user.first_name}‘s address" %></div>

  <div class="infowindow-address">
    <% participant.user.addresses.each do |address| %>
          <%= link_to "#{address.name}", update_from_participants_user_addresses_path(participant.user, address: address, event: participant.event, participant: participant), method: :patch, remote: true, id: participant.address == address ? "active" : "inactive" %>
    <% end %>
  </div>
</div>
