<div class="container container-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1528605248644-14dd04022da1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
  <div class="row justify-content-center">
    <div class="banner">
        <div class="container-body">
          <h1>Les Convives</h1>
          <p>Meet up in the optimal spot for everyone.</p>
          <a class="btn-fb" href="/users/auth/facebook"> Sign In with <i class="fab fa-facebook-f pr-1"> </i></a>
          <%= link_to "Log In", new_user_session_path, class: "btn-login btn-lesconvives mt-3" %>
        </div>
    </div>
  </div>
</div>
