<div class="infowindow ">
  <div style="text-align: center">
    <h5>ЁЯН┤<%= restaurant.name %></h5>
    <div style="display: flex; justify-content: space-around; font-size: 16px;">
      <p >тнР<bold><%= restaurant.rating %>/5</bold></p>
      <p><bold><%= "тВм"*restaurant.price_level.to_i %></bold></p>
    </div>
  </div>
</div>
