<div class="infowindow ">
  <div style="text-align: center">
    <h5>🍴<%= restaurant.name %></h5>
    <div style="display: flex; justify-content: space-around; font-size: 16px;">
      <p >⭐<bold><%= restaurant.rating %>/5</bold></p>
      <p><bold><%= "€"*restaurant.price_level.to_i %></bold></p>
    </div>
    <div class="view-card-btn">
      <%= link_to "VIEW", restaurant_path(restaurant[:id], event: params[:event]), class: "view-card-btn-link" %>
    </div>
  </div>
</div>
