<h2> Directions </h2>

<ul>
<% @directions.each do |direction| %>
  <li>Name:<%= direction.first.user.first_name %></li>
  <li>Time to meeting point:<%= direction.last[:transit_duration] %></li>
  <li>Distance to meeting point:<%= direction.last[:transit_distance] %></li>
<% end %>
  <li>Meeting Point: <%= @geographic_center %></li>
</ul>
