<div class="container">

  <% @results_restaurants.each do |result|%>
  <p> <%= result.name %> </p>
  <p> <%= result.price_level%></p>
  <p> <%= result.rating%></p>
  <p> <%= result.address%></p>
  <
  <!-- <img src="<%#= url %>" alt=""> -->
  <% end %>

 </div>

