.btn-lesconvives {
  font-size: 16px;
  padding: 8px 16px;
  border-radius: 16px;
  background-color: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bold;
  color: white;
  border: none;
  width: 224px;
}


.fa-plus-circle {
  padding-left: 16px;
}

.btn-middle {
  position: absolute;
  top: -21px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-inline: 40px;
}

.btn-filter {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 50%;
  background-color: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bold;
  color: white;
  border: none;
  bottom: 10px;
  position: relative;
  right: 165px;
}
