.btn-lesconvives {
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 16px;
  // background-color: #1EDD88;
  background-color: #142850;
  transition: background 0.3s ease;
  font-weight: bold;
  color: white;
  border: none;
  width: 80vw;
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.24);
  margin-bottom: 10px !important;
}

.fa-plus-circle {
  padding-left: 16px;
}

.btn-middle {
  position: absolute;
  top: -21px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-inline: 40px;
  margin-top: 16px;
}

.btn-filter {
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 50%;
  background-color: #1EDD88;
  transition: background 0.3s ease;
  font-weight: bold;
  color: white;
  border: none;
  bottom: 10px;
  position: relative;
  right: 165px;
}

.fixed-filter {
  position: relative;
  bottom: 10px;
  z-index: 1000;
}

#btn-close-position {
  position: relative;
  bottom: 30px;
  left: 55px;
}
