.top-div {
  font-size: 13px;
  // background-color: #FF8C67;
  height: 50vh;
  // & img {
  //   border-radius: 50px;
  // }
  margin-top: 8px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.map-div {
  background-color: $yellow;
  height: 80vh;
  & img {
  border-radius: 24px;
  }
}

.top-div p {
  margin-top: 8px;
}

.bottom-div {
  position: relative;
}

.addresses {
   overflow: auto;
  }

#search_query {
  border-radius: 16px;
  border: 1px solid light-grey;
}

#map-div {
  background-color: none;
}

.user-show {
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.user-show-title {
  margin-top: 40px;
  overflow: auto;
  & p {
    padding-left: 10px;
    color: white;
    opacity: 0.9;
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 0px;
  }
}

