.top-div {
  font-size: 13px;
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.top-div-user {
  font-size: 13px;
  padding-top: 35px;
  font-size: 20px;
  color: white;
  font-weight: bolder;
}

.top-div-user p {
  margin-top: 8px;
}

.map-div {
  background-color: $yellow;
  height: 80vh;
  & img {
  border-radius: 24px;
  }
}

.top-div p {
  margin-top: 8px;
}

.bottom-div {
  position: relative;
  text-align: center;
}

.addresses {
   overflow: auto;
  }

#search-query {
  border-radius: 20px;
  border: 2px solid #ff6464;
  width: 50%;
  text-align: center;
}

#map-div {
  background-color: none;
}

.user-show {
  background: #fd746c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9068, #fd746c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
}

.user-show-title {
  border-bottom: 1px dashed white;
  box-shadow: -8px 13px 5px -10px rgba(153,153,153,0.21);
  & p {
    padding-left: 10px;
    color: white;
    opacity: 0.9;
    font-weight: bolder;
    font-size: 20px;
  }
}

