.top-div {
  font-size: 13px;
  background-color: $yellow;
  height: 80vh;
  & img {
    border-radius: 24px;
  }
}

.top-div p {
  margin-top: 8px;
}

.bottom-div {
  position: relative;
}

.fixed-filter {
  position: fixed;
  bottom: 95px;
}

#search_query {
  border-radius: 16px;
  border: none;
  margin-right: 8px;
}

#map-div {
  background-color: none;
}
