.friend-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8px;
  padding: 16px 16px;
}

.card-avatar-add {
 display: block;
 text-align: center;
}

.card-avatar-add .avatar {
  position: relative;
  width: 56px;
}

.avatar-name {
  font-size: 12px;
  opacity: 0.7;
  margin-bottom: 0px;
}

.add-button .fa-plus-circle {
  color: $green;
  font-size: 20px;
  position: relative;
  top: -39px;
  left: 20px;
}

.add-button .fa-minus-circle {
  color: $blue;
  font-size: 20px;
  position: relative;
  top: -39px;
  left: 28px;
}

.btn-create {

}

