.infowindow {
  color: black;
}

.view-card-btn {
  background-color: #142850;
  border-radius: 16px;
  padding: 6px;
  font-weight: bold;
  box-shadow: 10px 10px 20px -8px rgba(0,0,0,0.24);
}

.view-card-btn-link {
  text-decoration: none !important;
  color: white;
  &:hover {
    color: white;
  }
}

.infowindow .infowindow-address {
  display: grid;
  grid-template-column: 1fr 1fr;
  grid-gap: 4px;
  padding: 4px;
  & a {
    text-decoration: none;
    color: rgba(0, 0, 0,0.6);
    font-size: 12px;
    padding: 12px;
    border: 1px solid rgba(0, 0, 0,0.4);
    border-radius: 4px;
    text-align: center;
  }
}

a#active {
  background-color: #142850;
  border: none;
  padding: 12px;
  color: white;
}
