.loader-gif {
  display: none;
}

.loader-gif.active {
  display: block;
  top: 0;
  display: block;
  position: fixed;
  width: 100vw;
  background-color: rgba(220,220,220,0.6);
  height: 100vh;
  padding: 44px;
  object-fit: contain;
}
