.meeting-point {
  position: relative;
  border-radius: 16px;
  bottom: 20px;
  background-color: #f1f3f4;
  width: fit-content;
  margin: 0px auto ;
}


.meeting-point p {
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgrey;
  border-radius: 16px;
}
