.meeting-point {
  position: relative;
  border-radius: 16px;
  bottom: 20px;
  width: fit-content;
  margin: 0px auto ;
  background-color: #fd746c;
  background: linear-gradient(to right, #ff9068, #fd746c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.meeting-point p {
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgrey;
  border-radius: 16px;
}
