.meeting-point {
  border-radius: 4px;
  position: relative;
  bottom: 20px;
  background-color: #EB7070;
  width: fit-content;
  margin: 0px auto ;
}


.meeting-point p {
  text-align: center;
  padding: 2px 6px;
}
