#final-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
 }

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.teammate {
	width: 32px;
}

.nav-item {
	list-style-type: none;
	color: white;
	font-size: 1.6em;
}



