.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  color: white;
}

.navbar-lewagon .fa-compass {
  color: rgba(0, 0, 0, 0.4);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-brand {
  color: white;
}

.fa-home {
  color: rgba(0,0,0,0.6);
}
